.hello{
  padding-top: 30px;
}
.ip{
  padding-top: 50px;
}
.getIpBtn{
  margin-top: 20px;
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  background: #008000;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}
.getIpBtn:hover{
  background: #07b007;
}
